<a href="https://colab.research.google.com/github/sapsan14/ml-course-2026/blob/main/EX02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **Имя Notebook должно быть 'EX02.ipynb'**
- **Этот Notebook в режиме *readonly*, сделайте копию: File --> Save a copy in Drive**

In [5]:
"""EX02."""
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import sys

- Первые 9 — это утверждения, которые нужно подтвердить или опровергнуть
  - ответ нужно записать в переменную
  - Ответ должен начинаться с 'Да' или 'Нет'
  - например, ответ на 1-й вопрос нужно добавить в переменную `answer_one = "Да/Нет, потому что ..."`
  - например, ответ на 3-й вопрос нужно добавить в переменную `answer_three = "Да/Нет, потому что ..."`
  - Последние три вопроса соответственно:
    - `answer_general_one = "обоснование ..."`
    - `answer_general_two = "обоснование ..."`
    - `answer_general_three = "обоснование ..."`

# Импортируем датасет "tips"

Набор данных **`tips`** — это классический пример для обучения анализу данных.

Набор содержит **244 наблюдения** (записи), где каждая запись представляет одно посещение ресторана. Для каждого наблюдения сохранены как числовые, так и категориальные признаки, что позволяет проводить разнообразный статистический анализ.

### Признаки в наборе данных

* **`total_bill`** – общая сумма чека в долларах
* **`tip`** – оставленные чаевые в долларах
* **`sex`** – пол плательщика (Male, Female)
* **`smoker`** – курит ли клиент (Yes, No)
* **`day`** – день недели (Thur, Fri, Sat, Sun)
* **`time`** – время приема пищи (Lunch, Dinner)
* **`size`** – количество людей за столом

### Возможности использования

Этот набор данных часто используется для:

* анализа связи между суммой чека и чаевыми
* изучения паттернов поведения клиентов
* сравнения различных групп (например, по полу, курению, дням недели)
* изучения методов визуализации и анализа

In [6]:
if "google.colab" in sys.modules:
    df = sns.load_dataset("tips")
else:
    df = pd.read_csv("tips.csv")

print(df.head())
print(df.tail())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

# Сделайте первичный анализ данных

In [7]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [8]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [9]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# Подтверди или опровергни: используй график как доказательство

## 1\. Счета мужчин больше, чем у женщин

In [10]:
# Утверждение: Средний счет мужчин больше, чем у женщин
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.boxplot(data=df, x='sex', y='total_bill')
plt.show()
answer_one = "Да, так как средний чек мужчин (20.74) и медиана выше, чем у женщин (18.06)."

## 2\. Женщины в среднем оставляют больше чаевых, чем мужчины

In [11]:
# Утверждение: Женщины в среднем оставляют больше чаевых, чем мужчины
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.boxplot(data=df, x='sex', y='tip')
plt.show()
answer_two = "Нет, на самом деле мужчины в среднем оставляют немного больше чаевых ($3.09), чем женщины ($2.83)."

## 3\. Отличаются ли вариативность и медиана чаевых у курящих и некурящих?

In [12]:
# Вопрос: Отличаются ли вариативность и медиана чаевых у курящих и некурящих?
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.boxplot(data=df, x='smoker', y='tip')
plt.show()
answer_three = "Да, вариативность (1.96) и медиана (3.00) чаевых у курящих немного выше, чем у некурящих (1.90 и 2.74 соответственно)."

## 4\. В субботу больше всего посетителей

In [13]:
# Утверждение: В субботу больше всего посетителей
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.countplot(data=df, x='day')
plt.show()
answer_four = "Да, в субботу было больше всего чеков (87), что указывает на наибольшую посещаемость."

## 5\. Существует сильная положительная корреляция между суммой счета и чаевыми

In [14]:
# Утверждение: Существует сильная положительная корреляция между суммой счета и чаевыми
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.scatterplot(data=df, x='total_bill', y='tip')
plt.show()
answer_five = "Да, коэффициент корреляции составляет 0.68, что указывает на довольно сильную положительную связь."

## 6\. Средние чаевые уменьшаются в течение недели

In [15]:
# Утверждение: Средние чаевые уменьшаются в течение недели
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.lineplot(data=df, x='day', y='tip', errorbar=None)
plt.show()
answer_six = "Нет, средние чаевые самые высокие в воскресенье ($3.26) и самые низкие в пятницу ($2.73), то есть они не уменьшаются постоянно."

## 7\. Больший счет всегда означает большие чаевые

In [16]:
# Утверждение: Больший счет всегда означает большие чаевые
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.scatterplot(data=df, x='total_bill', y='tip')
plt.show()
answer_seven = "Нет, корреляция не равна 1, и на диаграмме рассеяния видны случаи, когда при меньшем счете оставлены большие чаевые."

## 8\. Большинство чаевых меньше 5 долларов

In [17]:
# Утверждение: Большинство чаевых меньше 5 долларов
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.histplot(data=df, x='tip', bins=20)
plt.axvline(5, color='red')
plt.show()
answer_eight = "Да, так как около 89% чаевых составляют менее 5 долларов."

## 9\. Чаще всего оставляют около 4 долларов чаевых

In [18]:
# Утверждение: Чаще всего оставляют около 4 долларов чаевых
# Нарисуй подходящий график и посмотри, верно ли утверждение


# Начни ответ с подтверждения или опровержения
# Пример: answer_one = "Нет, потому что ..."
sns.histplot(data=df, x='tip', bins=20)
plt.axvline(4, color='red')
plt.show()
answer_nine = "Нет, наиболее частая сумма чаевых (мода) — 2 доллара, а медиана — 2.9 доллара."

# Общие вопросы

## 1\. Что можно сказать о равенстве классов? Например, пол и курение.

In [19]:
# Нарисуй подходящий график и посмотри, верно ли утверждение

sns.countplot(data=df, x='sex', hue='smoker')
plt.show()
answer_general_one = "Наблюдается дисбаланс классов: мужчин (157) почти в 2 раза больше, чем женщин (87). Некурящих (151) больше, чем курящих (93)."

## 2\. Что можно сказать о корреляции признаков?

In [20]:
# Нарисуй подходящий график и посмотри, верно ли утверждение

sns.heatmap(df.select_dtypes(include=['number']).corr(), annot=True, cmap='coolwarm')
plt.show()
answer_general_two = "Все числовые признаки положительно коррелируют. Сильнее всего связь между счетом и чаевыми (0.68), а также счетом и количеством гостей (0.60)."

## 3\. Есть ли выбросы в размере чаевых и как они различаются по дням недели?

In [21]:
# Нарисуй подходящий график и посмотри, верно ли утверждение

sns.boxplot(data=df, x='day', y='tip')
plt.show()
answer_general_three = "Выбросы в чаевых есть, особенно в субботу (максимум 10$), где их больше всего (6). В четверг их меньше, а в пятницу и воскресенье (по методу IQR) их меньше или почти нет."